.login-form {
    width: 300px; /* Adjust width as necessary */
    margin: 0 auto; /* Center the form */
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px; /* Smaller border radius for a closer match */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the form correctly */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjusted shadow for subtlety */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 20px 20px; 
}

.login-header {
    text-align: center;
    width: 100%;
    width: calc(100% + 40px);
    padding-top:10px;
    margin-bottom: 20px; /* Adjusted margin */
    background-color: #507C3A; /* Adjust the color to match the screenshot */
    padding: 10px 0; /* Add padding to increase the height */
    color: white; /* Text color */
    border-top-left-radius: 10px; /* Match the border radius */
    border-top-right-radius: 10px; /* Match the border radius */
}

.login-form input {
    width: calc(100% - 24px); /* Subtract padding */
    width: 90%; /* Adjust width as necessary */
    margin-bottom: 15px; /* Add margin to separate the inputs */
    padding: 12px;
    border-radius: 5px; /* Smaller border radius for a closer match */
    border: 1px solid #ddd; /* Lighter border color */
    /* box-sizing: border-box; */
}

.login-form button {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #507C3A; /* Match the header */
    color: white;
    margin-bottom: 15px; /* Space below the button */
    cursor: pointer;
}

.login-form a {
    color: #507C3A; /* Match the header */
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 15px; /* Space above the link */
}


.login-background {
    background-image: url('/assets/Commerce_img1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
  }

  .dismiss-snackbar {
    color: #4da648;
  }