<!-- login.component.html -->
<div class="login-background">

<div class="login-form">
  <div class="login-header">
    <h2>Member Login</h2>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="username" placeholder="Username">
    <input type="password" formControlName="password" placeholder="Password">
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
  <a routerLink="/register">Not a Member? <strong>Register Now!</strong></a>
  <a routerLink="/forgot-password">Forgot Password</a>
</div>

</div>  