<div class = "navbar" style="width: 100%; height: 137px; position: relative; background: #508A52;">

    <div style="width: 320px; height: 67px; left: 46px; top: 35px; position: absolute; color: #010C01; font-size: 64px; font-family: Italianno; font-weight: 400; word-wrap: break-word">Breeze Commerce</div>
    <button style="width: 157px; padding-top: 10px; padding-bottom: 11px; left: 1245px; top: 44px; position: absolute; background: #011D02; border-radius: 25px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex; cursor: pointer;">
        <div style="color: #508A52; font-size: 24px; font-family: Judson; font-weight: 400; word-wrap: break-word">Cart</div>
    </button>
    <a href="#" style="left: 947px; top: 48px; position: absolute; color: white; font-size: 36px; font-family: Judson; font-weight: 400; word-wrap: break-word">Shop</a>
    <div style="left: 1057px; top: 48px; position: absolute; color: white; font-size: 36px; font-family: Judson; font-weight: 400; word-wrap: break-word">My Profile</div>
    <div style="left: 831px; top: 48px; position: absolute; color: white; font-size: 36px; font-family: Judson; font-weight: 400; word-wrap: break-word">News</div>
</div>