
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Judson:ital,wght@0,400;0,700;1,400&family=Kaushan+Script&display=swap');


.logo {
color: #010C01;
 font-size: 64px;
 font-family: Italianno;
 font-weight: 400;
 word-wrap: break-word

}

.cart {
color: #508A52;
 font-size: 24px;
 font-family: Judson;
 font-weight: 400;
 word-wrap: break-word
}

.nav-bar.nav-item {
color: white;
 font-size: 36px;
 font-family: Judson;
 font-weight: 400;
 word-wrap: break-word

}
