/* Reset margins for all child elements inside .cart-item-name */
.cart-item h2,
.cart-item p,
.cart-item div
{
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  /* You can add custom padding or margin if needed for specific elements */
}

.cart-item-image {
  width: 100px;
  height: 100px;
}


.cart-item-image img {
  width: 100px;
  height: auto;
  object-fit: contain;
  border-radius: 15px 0 0 15px;
}

.cart-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-header h2 , .cart-header p {
  padding: 10px;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-item {
  width: 700px;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: center; */
  margin-bottom: 20px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: palegreen

}

.cart-item-name {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 15px;
  /* background-color: aquamarine; */
}


.cart-item-name p
  {
    padding-left: 10px;
  }

.cart-total-container {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.cart-total-container p {
  padding-right: 10px;
}

.cart-item-remove span {
  margin-right: 10px;
}

.cart-item-text {
  width: 100%;
  /* background-color: brown; */
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-item-quantity {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.cart-item-quantity input {
  width: 50px;
  text-align: center;
  border: none;
  background-color: transparent;
  appearance: none; /* For most modern browsers */
  -webkit-appearance: none; /* For Safari and Chrome */ 
  -moz-appearance: textfield; /* For Firefox */
}

.cart-item-quantity button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;

}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}



.order-summary {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}   

.order-summary-item {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}