<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="cart-header">
    <h2>Shopping Cart</h2> <p>{{cartItems.length}} items</p>
</div>
<br>
<div class="cart-container">

<div class="cart-items">
    @for (item of cartItems ;track $index) {
    <div class="cart-item">
        <div class="cart-item-image">
            <img [src]="'/assets/' + item.product.image" alt="{{ item.product.name }}" (click)="productDetails(item.product)" style="cursor: pointer;">
        </div>
        <div class="cart-item-text">
            <div class="cart-item-name">
                <div class="item-name">
                    <p><strong>{{ item.product.name }}</strong></p>
                    <div class="cart-item-price">
                        <p>$ {{ item.product.price }}</p>
                    </div>
                    <p>Quantity: {{item.quantity}}</p>
                </div>
                <div class="cart-item-quantity" style="padding-left: 10px;">
                    <button (click)="changeQuantity(item, -1)" [disabled]="this.tempQuantity[item.product_id] <= 1">-</button>
                    <input (keydown)="false" #quantityAmt type="number" min="1" [(ngModel)]="this.tempQuantity[item.product._id]">
                    <button (click)="changeQuantity(item, 1)">+</button>
                    <button (click)="updateQuantity(item)">Update</button>
                </div>
            </div>
            <div class="cart-total-container">

                <div class="cart-item-total">
                    <p>
                        <strong>Total:</strong> ${{ calculateItemPrice(item) }}
                    </p>
                </div>
                <div class="cart-item-remove">
                    <span class="material-symbols-outlined"
                    (click) = "removeFromCart(item)"
                    style="cursor:pointer;"
                    >
                        remove_shopping_cart
                        </span>
                    <!-- <button (click)="removeFromCart(item)">Remove</button> -->
                </div>
            </div>
        </div>
    </div>

}
</div>
<div class="order-summary">
    <div class="order-summary-header">
        <h3>Order Summary</h3>
    </div>
    <div class="order-summary-body">
        <div class="order-summary-item">
            <p>Subtotal</p>
            <p>$ {{ subtotal }}</p>
        </div>
        <div class="order-summary-item">
            <p>Tax</p>
            <p>$ {{ tax }}</p>
        </div>
        <div class="order-summary-item">
            <p>Shipping</p>
            <p>$ {{ shipping }}</p>
        </div>
        <div class="order-summary-item">
            <p><strong>Total</strong></p>
            <p>$ {{ total }}</p>
        </div>
    </div>
    <div class="order-summary-footer">
        <button (click)="checkOut()">Checkout</button> 
    </div>
</div>
</div>