<!-- Description: Navbar component for the commerce client -->

<div class="navbar">
    <div class="logo">Breeze Commerce</div>
    <div class="nav-items">
        <ul>
            <li class="nav-item"><a routerLink="/products">Shop</a></li>
            <li class="nav-item"><a routerLink="/profile">My Profile</a></li>
            <li class="nav-item"><a routerLink="/home">News</a></li>  
            <li class="nav-item">
                <a style="cursor: pointer;"*ngIf="(authService.isLoggedIn$ | async)" (click)="logout()">Logout</a>
                <a *ngIf="!(authService.isLoggedIn$ | async)" routerLink="/login">Login</a>
              </li>
              <li class="nav-item">
                <mat-icon matBadge="{{ cartNum > 0 ? cartNum : null }}" 
                          matBadgeHidden="{{ cartNum === 0 }}" 
                          aria-hidden="false"
                          routerLink="/shoppingcart"
                          style="cursor: pointer;">
                  shopping_cart
                </mat-icon>
              </li>
              
        </ul>
</div>